<div class="container">

<h1>Healthy routines</h1>
<h3>Welcome, <%= current_user.id %>, take charge of your health!</h3>

<div class="row">
	<% @blogs.each do |blog| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to blog.title, blog %>
			</div>
			<div class="panel-body">
				by <%= link_to blog.author, blog%> <br>

				<p>Uploaded at: <%= blog.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
				<p><%= blog.entry[0..250] %>...<%= link_to "Read More", blog %></p>
				<p>Category: <%= link_to blog.category.name %></p>
			</div>
			<div class="panel-footer">
				<% if current_user.id == blog.user_id %>
				<div>
				<%= link_to 'Edit', edit_blog_path, class: "btn btn-warning" %>
				<%= link_to 'Destroy', blog, method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger" %>

			 </div>
			 <% end %>
			 <br>
		 	<br>
			</div>
		</div>
	</div>


<% end %>
</div>

<%= link_to 'New Blog', new_blog_path(@blog), class: "btn btn-primary" %>
<br>

</div>
